<div class="ext-gloopcontrol-main">
	<div class="ext-gloopcontrol-main-nav">
		<a class="cdx-card cdx-card--is-link" href="{{ search_user_url }}">
			<span class="cdx-card__icon ext-gloopcontrol-css-icon--user"></span>
			<span class="cdx-card__text">
					<span class="cdx-card__text__title">{{ search_user }}</span>
					<span class="cdx-card__text__description">{{ search_user_desc }}</span>
				  </span>
		</a>

		<a class="cdx-card cdx-card--is-link" href="{{ task_url }}">
			<span class="cdx-card__icon ext-gloopcontrol-css-icon--cog"></span>
			<span class="cdx-card__text">
					<span class="cdx-card__text__title">{{ task }}</span>
					<span class="cdx-card__text__description">{{ task_desc }}</span>
				  </span>
		</a>

		<a class="cdx-card cdx-card--is-link" href="{{ notifications_url }}">
			<span class="cdx-card__icon ext-gloopcontrol-css-icon--notification"></span>
			<span class="cdx-card__text">
					<span class="cdx-card__text__title">{{ notifications }}</span>
					<span class="cdx-card__text__description">{{ notifications_desc }}</span>
				  </span>
		</a>

		<a class="cdx-card cdx-card--is-link" href="{{ site_config_url }}">
			<span class="cdx-card__icon ext-gloopcontrol-css-icon--book"></span>
			<span class="cdx-card__text">
					<span class="cdx-card__text__title">{{ site_config }}</span>
					<span class="cdx-card__text__description">{{ site_config_desc }}</span>
				  </span>
		</a>
	</div>

	<div style="display: flex; gap: 2em; margin-top: 1em;">
		<div>
			<h3>{{ infosection }}</h3>
			<ul>
				<li><strong>{{ server_label }}</strong>{{ space }}{{ server }}</li>
				<li><strong>{{ database_label }}</strong>{{ space }}{{ database }}</li>
				<li><strong>{{ shared_database_label }}</strong>{{ space }}{{ shared_database }}</li>
				<li><strong>{{ wiki_label }}</strong>{{ space }}{{ wiki }}</li>
				<li><strong>{{ host_label }}</strong>{{ space }}{{ host }}</li>
				<li><strong>{{ php_label }}</strong>{{ space }}{{ php }}</li>
			</ul>
		</div>
	</div>
</div>
