<div class="ext-gloopcontrol-user-details">
	<h3>{{ name }}{{ space }}{{ parentheses_start }}<code>{{ id }}</code>{{ parentheses_end }}</h3>
	<div class="user-info">
		<ul>
			<li><strong>{{ registered_label }}</strong>{{ space }}{{ registered }}</li>
			<li><strong>{{ email_label }}</strong>{{ space }}{{ email }}{{ space }}{{ parentheses_start }}{{#email_authed}}{{ email_confirmed }}{{ space }}{{ email_authed }}{{/email_authed}}{{^email_authed}}<span style="color: red;">{{ email_unconfirmed }}</span>{{/email_authed}}{{ parentheses_end }}</li>
			<li><strong>{{ real_label }}</strong>{{ space }}{{ real }}</li>
		</ul>
		<ul>
			<li><strong>{{ block_label }}</strong>{{ space }}{{#block_timestamp}}<span style="color: red;">{{ yes }}</span>{{ block_info }}{{/block_timestamp}}{{^block_timestamp}}{{ no }}{{/block_timestamp}}</li>
			<li><strong>{{ edits_label }}</strong>{{ space }}{{ edits }}</li>
			<li><strong>{{ groups_label }}</strong>{{ space }}{{ groups }}</li>
		</ul>
		<ul>
			<li><strong>{{ touched_label }}</strong>{{ space }}{{ touched }}</li>
			<li><strong>{{ last_edit_label }}</strong>{{ space }}{{ last_edit }}</li>
			<li><strong>{{ ipaddress_label }}</strong>{{ space }}{{#checkuser}}<a href="{{ checkuser }}">{{ checkuser_label }}</a>{{/checkuser}}{{^checkuser}}{{ unavailable }}{{/checkuser}}</li>
		</ul>
		<ul>
			<li>{{#migration}}<span style="color: red;">{{ migrated_no }}</span>{{/migration}}{{^migration}}{{ migrated_yes }}{{/migration}}</li>
			<li><strong>{{ 2fa_label }}</strong>{{ space }}{{ 2fa }}{{^2fa}}{{ unavailable }}{{/2fa}}</li>
		</ul>
	</div>
	<div style="margin-top: 1em;">
		{{#rename}}
		<a href="{{ rename }}">
			<button class="cdx-button">
				{{ rename_button }}
			</button>
		</a>
		{{/rename}}
		<a href="{{ change_email_url }}">
			<button class="cdx-button">
				{{ change_email_button }}
			</button>
		</a>
		<a href="{{ reassign_edits_url }}">
			<button class="cdx-button">
				{{ reassign_edits_button }}
			</button>
		</a>
		<a href="{{ reset_password_url }}">
			<button class="cdx-button cdx-button--action-destructive">
				{{ reset_password_button }}
			</button>
		</a>
	</div>
<!--	<details class="cdx-accordion">-->
<!--		<summary>-->
<!--			<h5 class="cdx-accordion__header">-->
<!--				Preferences-->
<!--			</h5>-->
<!--		</summary>-->
<!--		<div class="cdx-accordion__content">-->
<!--			<pre>{{ opts }}</pre>-->
<!--		</div>-->
<!--	</details>-->
</div>
